#page-login {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.logo-container {
  line-height: 1px;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-container img {
  max-height: 10rem;
}

.logo-container h2 {
  text-align: left;
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--color-text-in-primary);
  margin-top: 1em;
  line-height: 1.4em;
}

.form-container {
  margin: 1em 6rem;
  flex: 2;
  background-color: var(--color-background);
  font-size: 2rem;
}

.form-container fieldset {
  border: none;
}

.form-container fieldset legend {
  color: #32264d;
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}

.login-input-block {
  position: relative;
  padding-top: 1em;
  background: var(--color-input-background);
  width: 40rem;
}

.border-top {
  border: 1px solid var(--color-line-in-white);
}

.border-bottom {
  border: 1px solid var(--color-line-in-white);
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.login-input-block input {
  width: 100%;
  height: 5.6rem;
  outline: 0;
  line-height: 1.2rem;
  border: transparent;
  padding: 0rem 1.6rem;
  font: 1.8rem Archivo;
  background: var(--color-input-background);
}

.login-input-block:focus-within::after {
  width: 0.2rem;
  height: 5rem;
  content: '';
  background: var(--color-primary-light);
  position: absolute;
  left: 0rem;
  bottom: 1.4rem;
  border-radius: 0.8rem;
}

form div:first-child {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.login-input-block #password {
  width: 90%;
  border-bottom-left-radius: 0.8rem;
}

.login-input-block label {
  display: block;
  font-size: 1.4rem;
  line-height: 2.4rem;
  position: absolute;
  left: 1.6rem;
  bottom: 3em;
}

.form-container .form-options {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  line-height: 2.4rem;
  font-size: 1.6rem;
  justify-self: center;
  margin-top: 3.2rem;
  margin-bottom: 4.5rem;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  top: -0.1em;
  width: 1em;
  height: 1em;
  background-color: var(--color-input-background);
  border-radius: 0.6rem;
  vertical-align: middle;
  transition: box-shadow 0.1s ease;
  outline: 0;
  margin-right: 1.5rem;
}

input[type='checkbox']:after {
  display: block;
  content: '';
  position: absolute;
  top: -0.2rem;
  right: -0.5rem;
  visibility: visible;
  height: 2rem;
  line-height: 2rem;
  width: 2rem;
  text-align: center;
  border-radius: 0.6rem;
  background: var(--color-input-background);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

input[type='checkbox']:checked:after {
  box-shadow: inset 0 0 0 1em var(--color-secondary);
  content: '\2713';
  color: white;
}

.form-options label {
  cursor: pointer;
}

.form-options a {
  text-decoration: none;
  color: var(--color-text-base);
  cursor: pointer;
}

.form-container button {
  width: 100%;
  height: 5.6rem;
  background: #dcdce6;
  border: 0;
  border-radius: 0.8rem;
  transition: 0.2s;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: Archivo;
}

.form-container button:hover {
  color: var(--color-button-text);
  background: var(--color-secondary);
}

.form-container form,
.form-container footer {
  min-width: 30rem;
}

.form-container footer {
  margin-top: 13.6rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  overflow: hidden;
  font-size: 1.8rem;
}

.form-container footer a {
  color: var(--color-primary);
}

.form-container footer span,
img {
  color: var(--color-text-complement);
  font-size: 1.6rem;
}

@media (min-width: 700px) {
  #page-login {
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    overflow: hidden;

    justify-content: center;
  }

  .logo-container {
    max-width: 50%;
    background-color: var(--color-primary);
    background-size: cover;
    padding: 4em;
    line-height: 1em;
  }

  .logo-container h2 {
    text-align: left;
    padding-top: 0;
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--color-text-in-primary);
  }

  .form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-container form,
  .form-container footer {
    min-width: 30rem;
  }

  .form-container .form-options {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .form-container footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}
